*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    background-color: rgb(4, 4, 175);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 600px;
    width: 60%;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}
.head{
    font-size: 15px;
    display: flex;
    border-bottom: 1px solid rgb(4, 4, 175);
    padding-bottom: 25px;
    justify-content: space-between;
}
.timer{
    color:green;;
}
h1{
    color: rgb(4, 4, 175);
    font-size: 30px;
    font-weight: 600;
}
.quiz>p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(4, 4, 175);
    margin-top: 10px;
    margin-bottom: 10px;
}
.answers{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 19px;
}
.btn{
    background-color: white;
    color: rgb(4, 4, 175);
    border: 1px solid rgb(4, 4, 175);
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}
.answers button:hover:not([disabled]){
    color: white;
    background-color: black;
}
.answers button:disabled{
    cursor: no-drop;
}
.nextbutton{
    background-color: rgb(4, 4, 175);
    color: white;
    padding: 8px 35px;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.nextbutton:hover{
    background-color: white;
    color: rgb(4, 4, 175);
    border: 1px solid rgb(4, 4, 175);
}
.correct{
    color: white;
    background-color: #9aeabc;
    border: none;
}
.incorrect{
    color: white;
    background-color: #ff9393;
    border: none;
}